<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Players 2 Be - Frais de dossiers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/master.css">
    <link rel="stylesheet" href="../assets/styles/grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/custom-download.css">
</head>
<body>

<div class="jumbotron sub">
    <header>
        <div class="log"></div>
        <div class="nav">
            <ul>
                <li><a href="/#about">A Propos</a></li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#contact">Contact</a></li>
                <li><a href="#">Blog</a></li>
                <li><a class="sign-up" href="sign-up">S'inscrire</a></li>
            </ul>
        </div>
    </header>
    <div class="category-title center">INSCRIPTION</div>
</div>

<div class="container">
    <div class="col-50 sign-category left">
        <div class="price">€ 9.99</div>
        <div class="conditions col-30 center">
            Frais de dossier valide 12 mois
        </div>
    </div>
    <div class="col-50 legal right">
        <div>
        <ul>
            <li><i class="fas fa-dot-circle bullet"></i>  Envoi de votre dossier à nos recruteurs</li>
            <li><i class="fas fa-dot-circle bullet"></i>  + de 5000 recruteurs à travers le monde</li>
            <li><i class="fas fa-dot-circle bullet"></i>  + de 500 clubs professionnels à travers le monde</li>
            <li><i class="fas fa-dot-circle bullet"></i>  Prise en charge de votre dossier sous 24h</li>
            <li><i class="fas fa-dot-circle bullet"></i>  Réponse sous 1 semaine</li>
        </ul>
        </div>
    </div>
</div>

<div class="payement">
    <div class="container">
    <div style="font-size: 2em; color: #101D33; font-weight: bolder; text-align: center; padding-top: 20px">PAIEMENT FACILE ET SÉCURISÉ</div>
    <div class="col-50 left methods_list">
        <div class="col-third-only method"><img src="../assets/img/paypal.png" height="100%"></div>
        <div class="col-third-only method"><img src="../assets/img/mastercard.png" height="100%"></div>
        <div class="col-third-only method"><img src="../assets/img/visa.png" height="100%"  ></div>
        <div class="payement_label">Modes de paiement approuvés<span>Trusted payment methods</span></div>
    </div>
        <div class="col-50 right">
            <div class="col-100">
                <i style="font-size: 4.8em; margin-top: 60px;" class="fas fa-user-shield"></i>
            </div>
            <div class="payement_label">Paiements sécurisés<span>Secured payments</span></div>
        </div>
    </div>
</div>

<footer id="blue" class="light">
    <div class="container" id="social">
        <div class="col-100 center">
            <a href="https://www.instagram.com/actuplayers/"><i class="fab fa-twitter-square social"></i></a>
            <a href="https://www.facebook.com/Players2be-1840625799346465/"><i class="fab fa-instagram social"></i></a>
            <a href="https://www.facebook.com/Players2be-1840625799346465/"><i class="fab fa-facebook-square social"></i></a>
        </div>
    </div>
    <div class="container bottom">
        <div class="col-30-only left box">
            <div class="logo"></div>
        </div>
        <div class="col-70-only right footer">Copyright 2018 PLAYERS2BE - Tous Droits Réservés - <a href="/legal">Mentions légales</a> - <a href="/conditions">CGV</a></div>
    </div>
</footer>

