.container {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    overflow: auto;
}

footer .container {
    padding: 0;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-30-only {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-third {
    height: 100px;
    width: calc(calc(100% - 9px)/3);
    margin: 0;
    padding: 0;
    display: inline-block;
}

.col-third-only {
    height: 100px;
    width: calc(calc(100% - 9px)/3);
    margin: 0;
    padding: 0;
    display: inline-block;
}

.col-2form {
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-70-only {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

.right {
    float: right;
}

.left {
    float: left;
}


@media (max-width: 946px) {

    header {
        width: 100%;
    }

    .jumbotron .logo {
        height: 56px;
        width: 65%;
        left: calc(50% - calc(65% / 2));
        position: absolute;
        top: calc(35% - 28px);
        background: url('../img/logo.png');
        background-size: 100% 100%;
    }

    .try {
        height: auto;
        background-size: 150% 100%;
    }

    .about-content {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .illustration {
        display: none;
    }

    .container {
        width: 95%;
    }

    .nav {
        display: none;
    }

    .col-10 {
        width: 100%;
        display: block;
    }

    .col-20 {
        width: 100%;
        display: block;
    }

    .col-30 {
        width: 100%;
        display: block;
    }

    .col-40 {
        width: 100%;
        display: block;
    }

    .col-50 {
        width: 100%;
        display: block;
    }

    .col-third {
        width: 100%;
        display: block;
    }

    .col-2form {
        width: 100%;
        display: block;
    }

    .col-60 {
        width: 100%;
        display: block;
    }

    .col-70 {
        width: 100%;
        display: block;
    }

    .col-80 {
        width: 100%;
        display: block;
    }

    .col-100 {
        width: 100%;
        display: block;
    }
}
